<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro.smcp</key>
	<string>E_uro.smcp.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Idotaccent.smcp</key>
	<string>I_dotaccent.smcp.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.salt</key>
	<string>M_.salt.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.salt</key>
	<string>N_.salt.glif</string>
	<key>Nacute.salt</key>
	<string>N_acute.salt.glif</string>
	<key>Ncaron.salt</key>
	<string>N_caron.salt.glif</string>
	<key>Ncommaaccent.salt</key>
	<string>N_commaaccent.salt.glif</string>
	<key>Ntilde.salt</key>
	<string>N_tilde.salt.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.salt</key>
	<string>X_.salt.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.salt</key>
	<string>a.salt.glif</string>
	<key>a.smcp</key>
	<string>a.smcp.glif</string>
	<key>a.superior</key>
	<string>a.superior.glif</string>
	<key>aacute.salt</key>
	<string>aacute.salt.glif</string>
	<key>aacute.smcp</key>
	<string>aacute.smcp.glif</string>
	<key>abreve.salt</key>
	<string>abreve.salt.glif</string>
	<key>abreve.smcp</key>
	<string>abreve.smcp.glif</string>
	<key>acircumflex.salt</key>
	<string>acircumflex.salt.glif</string>
	<key>acircumflex.smcp</key>
	<string>acircumflex.smcp.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.smcp</key>
	<string>acute.smcp.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis.salt</key>
	<string>adieresis.salt.glif</string>
	<key>adieresis.smcp</key>
	<string>adieresis.smcp.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.smcp</key>
	<string>ae.smcp.glif</string>
	<key>afii61289</key>
	<string>afii61289.glif</string>
	<key>afii61352</key>
	<string>afii61352.glif</string>
	<key>agrave.salt</key>
	<string>agrave.salt.glif</string>
	<key>agrave.smcp</key>
	<string>agrave.smcp.glif</string>
	<key>amacron.salt</key>
	<string>amacron.salt.glif</string>
	<key>amacron.smcp</key>
	<string>amacron.smcp.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.salt</key>
	<string>ampersand.salt.glif</string>
	<key>ampersand.smcp</key>
	<string>ampersand.smcp.glif</string>
	<key>aogonek.salt</key>
	<string>aogonek.salt.glif</string>
	<key>aogonek.smcp</key>
	<string>aogonek.smcp.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.salt</key>
	<string>aring.salt.glif</string>
	<key>aring.smcp</key>
	<string>aring.smcp.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk.smcp</key>
	<string>asterisk.smcp.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.alt</key>
	<string>at.alt.glif</string>
	<key>at.smcp</key>
	<string>at.smcp.glif</string>
	<key>atilde.salt</key>
	<string>atilde.salt.glif</string>
	<key>atilde.smcp</key>
	<string>atilde.smcp.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.salt</key>
	<string>b.salt.glif</string>
	<key>b.smcp</key>
	<string>b.smcp.glif</string>
	<key>b.superior</key>
	<string>b.superior.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevebelowcomb</key>
	<string>brevebelowcomb.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>breveinvertedcomb</key>
	<string>breveinvertedcomb.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bullet.smcp</key>
	<string>bullet.smcp.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.smcp</key>
	<string>c.smcp.glif</string>
	<key>c.superior</key>
	<string>c.superior.glif</string>
	<key>c_h</key>
	<string>c_h.glif</string>
	<key>c_k</key>
	<string>c_k.glif</string>
	<key>c_t</key>
	<string>c_t.glif</string>
	<key>cacute.smcp</key>
	<string>cacute.smcp.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.smcp</key>
	<string>caron.smcp.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>ccaron.smcp</key>
	<string>ccaron.smcp.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccedilla.smcp</key>
	<string>ccedilla.smcp.glif</string>
	<key>ccircumflex.smcp</key>
	<string>ccircumflex.smcp.glif</string>
	<key>cdotaccent.smcp</key>
	<string>cdotaccent.smcp.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.smcp</key>
	<string>circumflex.smcp.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.salt</key>
	<string>d.salt.glif</string>
	<key>d.smcp</key>
	<string>d.smcp.glif</string>
	<key>d.superior</key>
	<string>d.superior.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron.salt</key>
	<string>dcaron.salt.glif</string>
	<key>dcaron.smcp</key>
	<string>dcaron.smcp.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dcroat.salt</key>
	<string>dcroat.salt.glif</string>
	<key>dcroat.smcp</key>
	<string>dcroat.smcp.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>degree.smcp</key>
	<string>degree.smcp.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.smcp</key>
	<string>dieresis.smcp.glif</string>
	<key>dieresisbelowcomb</key>
	<string>dieresisbelowcomb.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.smcp</key>
	<string>dollar.smcp.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotbelowcomb</key>
	<string>dotbelowcomb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.smcp</key>
	<string>e.smcp.glif</string>
	<key>e.superior</key>
	<string>e.superior.glif</string>
	<key>eacute.smcp</key>
	<string>eacute.smcp.glif</string>
	<key>ecaron.smcp</key>
	<string>ecaron.smcp.glif</string>
	<key>ecircumflex.smcp</key>
	<string>ecircumflex.smcp.glif</string>
	<key>edieresis.smcp</key>
	<string>edieresis.smcp.glif</string>
	<key>edotaccent.smcp</key>
	<string>edotaccent.smcp.glif</string>
	<key>egrave.smcp</key>
	<string>egrave.smcp.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.denominator</key>
	<string>eight.denominator.glif</string>
	<key>eight.numerator</key>
	<string>eight.numerator.glif</string>
	<key>eight.oldstyle</key>
	<string>eight.oldstyle.glif</string>
	<key>eight.smcp</key>
	<string>eight.smcp.glif</string>
	<key>eight.tnum</key>
	<string>eight.tnum.glif</string>
	<key>eight.tosf</key>
	<string>eight.tosf.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron.smcp</key>
	<string>emacron.smcp.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.alt</key>
	<string>emdash.alt.glif</string>
	<key>emdash.smcp</key>
	<string>emdash.smcp.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.alt</key>
	<string>endash.alt.glif</string>
	<key>endash.smcp</key>
	<string>endash.smcp.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eng.smcp</key>
	<string>eng.smcp.glif</string>
	<key>eogonek.smcp</key>
	<string>eogonek.smcp.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>eth.smcp</key>
	<string>eth.smcp.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.smcp</key>
	<string>exclam.smcp.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.alt</key>
	<string>exclamdown.alt.glif</string>
	<key>exclamdown.smcp</key>
	<string>exclamdown.smcp.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.salt</key>
	<string>f.salt.glif</string>
	<key>f.smcp</key>
	<string>f.smcp.glif</string>
	<key>f.superior</key>
	<string>f.superior.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_t</key>
	<string>f_t.glif</string>
	<key>f_y</key>
	<string>f_y.glif</string>
	<key>ffl</key>
	<string>ffl.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.denominator</key>
	<string>five.denominator.glif</string>
	<key>five.numerator</key>
	<string>five.numerator.glif</string>
	<key>five.oldstyle</key>
	<string>five.oldstyle.glif</string>
	<key>five.smcp</key>
	<string>five.smcp.glif</string>
	<key>five.tnum</key>
	<string>five.tnum.glif</string>
	<key>five.tosf</key>
	<string>five.tosf.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.denominator</key>
	<string>four.denominator.glif</string>
	<key>four.numerator</key>
	<string>four.numerator.glif</string>
	<key>four.oldstyle</key>
	<string>four.oldstyle.glif</string>
	<key>four.smcp</key>
	<string>four.smcp.glif</string>
	<key>four.tnum</key>
	<string>four.tnum.glif</string>
	<key>four.tosf</key>
	<string>four.tosf.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.salt</key>
	<string>g.salt.glif</string>
	<key>g.smcp</key>
	<string>g.smcp.glif</string>
	<key>g.superior</key>
	<string>g.superior.glif</string>
	<key>gbreve.salt</key>
	<string>gbreve.salt.glif</string>
	<key>gbreve.smcp</key>
	<string>gbreve.smcp.glif</string>
	<key>gcircumflex.salt</key>
	<string>gcircumflex.salt.glif</string>
	<key>gcircumflex.smcp</key>
	<string>gcircumflex.smcp.glif</string>
	<key>gcommaaccent.salt</key>
	<string>gcommaaccent.salt.glif</string>
	<key>gcommaaccent.smcp</key>
	<string>gcommaaccent.smcp.glif</string>
	<key>gdotaccent.salt</key>
	<string>gdotaccent.salt.glif</string>
	<key>gdotaccent.smcp</key>
	<string>gdotaccent.smcp.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.smcp</key>
	<string>germandbls.smcp.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.smcp</key>
	<string>grave.smcp.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.smcp</key>
	<string>h.smcp.glif</string>
	<key>h.superior</key>
	<string>h.superior.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hbar.smcp</key>
	<string>hbar.smcp.glif</string>
	<key>hcircumflex.smcp</key>
	<string>hcircumflex.smcp.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.alt</key>
	<string>hyphen.alt.glif</string>
	<key>hyphen.smcp</key>
	<string>hyphen.smcp.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.smcp</key>
	<string>i.smcp.glif</string>
	<key>i.superior</key>
	<string>i.superior.glif</string>
	<key>iacute.smcp</key>
	<string>iacute.smcp.glif</string>
	<key>icircumflex.smcp</key>
	<string>icircumflex.smcp.glif</string>
	<key>idieresis.smcp</key>
	<string>idieresis.smcp.glif</string>
	<key>igrave.smcp</key>
	<string>igrave.smcp.glif</string>
	<key>imacron.smcp</key>
	<string>imacron.smcp.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek.smcp</key>
	<string>iogonek.smcp.glif</string>
	<key>itilde.smcp</key>
	<string>itilde.smcp.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.smcp</key>
	<string>j.smcp.glif</string>
	<key>j.superior</key>
	<string>j.superior.glif</string>
	<key>jcircumflex.smcp</key>
	<string>jcircumflex.smcp.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.smcp</key>
	<string>k.smcp.glif</string>
	<key>k.superior</key>
	<string>k.superior.glif</string>
	<key>kcommaaccent.smcp</key>
	<string>kcommaaccent.smcp.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.smcp</key>
	<string>l.smcp.glif</string>
	<key>l.superior</key>
	<string>l.superior.glif</string>
	<key>lacute.smcp</key>
	<string>lacute.smcp.glif</string>
	<key>lcaron.smcp</key>
	<string>lcaron.smcp.glif</string>
	<key>lcommaaccent.smcp</key>
	<string>lcommaaccent.smcp.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lslash.smcp</key>
	<string>lslash.smcp.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.salt</key>
	<string>m.salt.glif</string>
	<key>m.smcp</key>
	<string>m.smcp.glif</string>
	<key>m.superior</key>
	<string>m.superior.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macron.smcp</key>
	<string>macron.smcp.glif</string>
	<key>macronbelowcomb</key>
	<string>macronbelowcomb.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.salt</key>
	<string>n.salt.glif</string>
	<key>n.smcp</key>
	<string>n.smcp.glif</string>
	<key>n.superior</key>
	<string>n.superior.glif</string>
	<key>nacute.salt</key>
	<string>nacute.salt.glif</string>
	<key>nacute.smcp</key>
	<string>nacute.smcp.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron.salt</key>
	<string>ncaron.salt.glif</string>
	<key>ncaron.smcp</key>
	<string>ncaron.smcp.glif</string>
	<key>ncommaaccent.salt</key>
	<string>ncommaaccent.salt.glif</string>
	<key>ncommaaccent.smcp</key>
	<string>ncommaaccent.smcp.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.denominator</key>
	<string>nine.denominator.glif</string>
	<key>nine.numerator</key>
	<string>nine.numerator.glif</string>
	<key>nine.oldstyle</key>
	<string>nine.oldstyle.glif</string>
	<key>nine.smcp</key>
	<string>nine.smcp.glif</string>
	<key>nine.tnum</key>
	<string>nine.tnum.glif</string>
	<key>nine.tosf</key>
	<string>nine.tosf.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ntilde.salt</key>
	<string>ntilde.salt.glif</string>
	<key>ntilde.smcp</key>
	<string>ntilde.smcp.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numbersign.smcp</key>
	<string>numbersign.smcp.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.smcp</key>
	<string>o.smcp.glif</string>
	<key>o.superior</key>
	<string>o.superior.glif</string>
	<key>oacute.smcp</key>
	<string>oacute.smcp.glif</string>
	<key>ocircumflex.smcp</key>
	<string>ocircumflex.smcp.glif</string>
	<key>odieresis.smcp</key>
	<string>odieresis.smcp.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oe.smcp</key>
	<string>oe.smcp.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve.smcp</key>
	<string>ograve.smcp.glif</string>
	<key>ohungarumlaut.smcp</key>
	<string>ohungarumlaut.smcp.glif</string>
	<key>omacron.smcp</key>
	<string>omacron.smcp.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.denominator</key>
	<string>one.denominator.glif</string>
	<key>one.numerator</key>
	<string>one.numerator.glif</string>
	<key>one.oldstyle</key>
	<string>one.oldstyle.glif</string>
	<key>one.smcp</key>
	<string>one.smcp.glif</string>
	<key>one.tnum</key>
	<string>one.tnum.glif</string>
	<key>one.tosf</key>
	<string>one.tosf.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordfeminine.smcp</key>
	<string>ordfeminine.smcp.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>ordmasculine.smcp</key>
	<string>ordmasculine.smcp.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslash.smcp</key>
	<string>oslash.smcp.glif</string>
	<key>otilde.smcp</key>
	<string>otilde.smcp.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.salt</key>
	<string>p.salt.glif</string>
	<key>p.smcp</key>
	<string>p.smcp.glif</string>
	<key>p.superior</key>
	<string>p.superior.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.alt</key>
	<string>parenleft.alt.glif</string>
	<key>parenleft.smcp</key>
	<string>parenleft.smcp.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.alt</key>
	<string>parenright.alt.glif</string>
	<key>parenright.smcp</key>
	<string>parenright.smcp.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>percent.smcp</key>
	<string>percent.smcp.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.smcp</key>
	<string>periodcentered.smcp.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>perthousand.smcp</key>
	<string>perthousand.smcp.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.smcp</key>
	<string>q.smcp.glif</string>
	<key>q.superior</key>
	<string>q.superior.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.smcp</key>
	<string>question.smcp.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.alt</key>
	<string>questiondown.alt.glif</string>
	<key>questiondown.smcp</key>
	<string>questiondown.smcp.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedbl.smcp</key>
	<string>quotedbl.smcp.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblbase.smcp</key>
	<string>quotedblbase.smcp.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.smcp</key>
	<string>quotedblleft.smcp.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblright.smcp</key>
	<string>quotedblright.smcp.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.smcp</key>
	<string>quoteleft.smcp.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.smcp</key>
	<string>quoteright.smcp.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesinglbase.smcp</key>
	<string>quotesinglbase.smcp.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quotesingle.smcp</key>
	<string>quotesingle.smcp.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.salt</key>
	<string>r.salt.glif</string>
	<key>r.smcp</key>
	<string>r.smcp.glif</string>
	<key>r.superior</key>
	<string>r.superior.glif</string>
	<key>racute.salt</key>
	<string>racute.salt.glif</string>
	<key>racute.smcp</key>
	<string>racute.smcp.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron.salt</key>
	<string>rcaron.salt.glif</string>
	<key>rcaron.smcp</key>
	<string>rcaron.smcp.glif</string>
	<key>rcommaaccent.salt</key>
	<string>rcommaaccent.salt.glif</string>
	<key>rcommaaccent.smcp</key>
	<string>rcommaaccent.smcp.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.smcp</key>
	<string>ring.smcp.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.smcp</key>
	<string>s.smcp.glif</string>
	<key>s.superior</key>
	<string>s.superior.glif</string>
	<key>s_t</key>
	<string>s_t.glif</string>
	<key>sacute.smcp</key>
	<string>sacute.smcp.glif</string>
	<key>scaron.smcp</key>
	<string>scaron.smcp.glif</string>
	<key>scedilla.smcp</key>
	<string>scedilla.smcp.glif</string>
	<key>scircumflex.smcp</key>
	<string>scircumflex.smcp.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.denominator</key>
	<string>seven.denominator.glif</string>
	<key>seven.numerator</key>
	<string>seven.numerator.glif</string>
	<key>seven.oldstyle</key>
	<string>seven.oldstyle.glif</string>
	<key>seven.smcp</key>
	<string>seven.smcp.glif</string>
	<key>seven.tnum</key>
	<string>seven.tnum.glif</string>
	<key>seven.tosf</key>
	<string>seven.tosf.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.denominator</key>
	<string>six.denominator.glif</string>
	<key>six.numerator</key>
	<string>six.numerator.glif</string>
	<key>six.oldstyle</key>
	<string>six.oldstyle.glif</string>
	<key>six.smcp</key>
	<string>six.smcp.glif</string>
	<key>six.tnum</key>
	<string>six.tnum.glif</string>
	<key>six.tosf</key>
	<string>six.tosf.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>sterling.smcp</key>
	<string>sterling.smcp.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.salt</key>
	<string>t.salt.glif</string>
	<key>t.smcp</key>
	<string>t.smcp.glif</string>
	<key>t.superior</key>
	<string>t.superior.glif</string>
	<key>t_t</key>
	<string>t_t.glif</string>
	<key>t_y</key>
	<string>t_y.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tbar.salt</key>
	<string>tbar.salt.glif</string>
	<key>tbar.smcp</key>
	<string>tbar.smcp.glif</string>
	<key>tcaron.salt</key>
	<string>tcaron.salt.glif</string>
	<key>tcaron.smcp</key>
	<string>tcaron.smcp.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>tcommaaccent.salt</key>
	<string>tcommaaccent.salt.glif</string>
	<key>tcommaaccent.smcp</key>
	<string>tcommaaccent.smcp.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>thorn.smcp</key>
	<string>thorn.smcp.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.denominator</key>
	<string>three.denominator.glif</string>
	<key>three.numerator</key>
	<string>three.numerator.glif</string>
	<key>three.oldstyle</key>
	<string>three.oldstyle.glif</string>
	<key>three.smcp</key>
	<string>three.smcp.glif</string>
	<key>three.tnum</key>
	<string>three.tnum.glif</string>
	<key>three.tosf</key>
	<string>three.tosf.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.smcp</key>
	<string>tilde.smcp.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.denominator</key>
	<string>two.denominator.glif</string>
	<key>two.numerator</key>
	<string>two.numerator.glif</string>
	<key>two.oldstyle</key>
	<string>two.oldstyle.glif</string>
	<key>two.smcp</key>
	<string>two.smcp.glif</string>
	<key>two.tnum</key>
	<string>two.tnum.glif</string>
	<key>two.tosf</key>
	<string>two.tosf.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.salt</key>
	<string>u.salt.glif</string>
	<key>u.smcp</key>
	<string>u.smcp.glif</string>
	<key>u.superior</key>
	<string>u.superior.glif</string>
	<key>uacute.salt</key>
	<string>uacute.salt.glif</string>
	<key>uacute.smcp</key>
	<string>uacute.smcp.glif</string>
	<key>ubreve.salt</key>
	<string>ubreve.salt.glif</string>
	<key>ubreve.smcp</key>
	<string>ubreve.smcp.glif</string>
	<key>ucircumflex.salt</key>
	<string>ucircumflex.salt.glif</string>
	<key>ucircumflex.smcp</key>
	<string>ucircumflex.smcp.glif</string>
	<key>udieresis.salt</key>
	<string>udieresis.salt.glif</string>
	<key>udieresis.smcp</key>
	<string>udieresis.smcp.glif</string>
	<key>ugrave.salt</key>
	<string>ugrave.salt.glif</string>
	<key>ugrave.smcp</key>
	<string>ugrave.smcp.glif</string>
	<key>uhungarumlaut.salt</key>
	<string>uhungarumlaut.salt.glif</string>
	<key>uhungarumlaut.smcp</key>
	<string>uhungarumlaut.smcp.glif</string>
	<key>umacron.salt</key>
	<string>umacron.salt.glif</string>
	<key>umacron.smcp</key>
	<string>umacron.smcp.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni000D</key>
	<string>uni000D_.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00AD.alt</key>
	<string>uni00A_D_.alt.glif</string>
	<key>uni00AD.smcp</key>
	<string>uni00A_D_.smcp.glif</string>
	<key>uni00B5</key>
	<string>uni00B_5.glif</string>
	<key>uni0338</key>
	<string>uni0338.glif</string>
	<key>uni1E02</key>
	<string>uni1E_02.glif</string>
	<key>uni1E03</key>
	<string>uni1E_03.glif</string>
	<key>uni1E03.salt</key>
	<string>uni1E_03.salt.glif</string>
	<key>uni1E03.smcp</key>
	<string>uni1E_03.smcp.glif</string>
	<key>uni1E0A</key>
	<string>uni1E_0A_.glif</string>
	<key>uni1E0B</key>
	<string>uni1E_0B_.glif</string>
	<key>uni1E0B.salt</key>
	<string>uni1E_0B_.salt.glif</string>
	<key>uni1E0B.smcp</key>
	<string>uni1E_0B_.smcp.glif</string>
	<key>uni1E1E</key>
	<string>uni1E_1E_.glif</string>
	<key>uni1E1F</key>
	<string>uni1E_1F_.glif</string>
	<key>uni1E1F.salt</key>
	<string>uni1E_1F_.salt.glif</string>
	<key>uni1E1F.smcp</key>
	<string>uni1E_1F_.smcp.glif</string>
	<key>uni1E40</key>
	<string>uni1E_40.glif</string>
	<key>uni1E40.salt</key>
	<string>uni1E_40.salt.glif</string>
	<key>uni1E41</key>
	<string>uni1E_41.glif</string>
	<key>uni1E41.salt</key>
	<string>uni1E_41.salt.glif</string>
	<key>uni1E41.smcp</key>
	<string>uni1E_41.smcp.glif</string>
	<key>uni1E56</key>
	<string>uni1E_56.glif</string>
	<key>uni1E57</key>
	<string>uni1E_57.glif</string>
	<key>uni1E57.salt</key>
	<string>uni1E_57.salt.glif</string>
	<key>uni1E57.smcp</key>
	<string>uni1E_57.smcp.glif</string>
	<key>uni1E60</key>
	<string>uni1E_60.glif</string>
	<key>uni1E61</key>
	<string>uni1E_61.glif</string>
	<key>uni1E61.smcp</key>
	<string>uni1E_61.smcp.glif</string>
	<key>uni1E6A</key>
	<string>uni1E_6A_.glif</string>
	<key>uni1E6B</key>
	<string>uni1E_6B_.glif</string>
	<key>uni1E6B.smcp</key>
	<string>uni1E_6B_.smcp.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uogonek.salt</key>
	<string>uogonek.salt.glif</string>
	<key>uogonek.smcp</key>
	<string>uogonek.smcp.glif</string>
	<key>uring.salt</key>
	<string>uring.salt.glif</string>
	<key>uring.smcp</key>
	<string>uring.smcp.glif</string>
	<key>utilde.salt</key>
	<string>utilde.salt.glif</string>
	<key>utilde.smcp</key>
	<string>utilde.smcp.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.smcp</key>
	<string>v.smcp.glif</string>
	<key>v.superior</key>
	<string>v.superior.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.smcp</key>
	<string>w.smcp.glif</string>
	<key>w.superior</key>
	<string>w.superior.glif</string>
	<key>wacute.smcp</key>
	<string>wacute.smcp.glif</string>
	<key>wcircumflex.smcp</key>
	<string>wcircumflex.smcp.glif</string>
	<key>wdieresis.smcp</key>
	<string>wdieresis.smcp.glif</string>
	<key>wgrave.smcp</key>
	<string>wgrave.smcp.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.salt</key>
	<string>x.salt.glif</string>
	<key>x.smcp</key>
	<string>x.smcp.glif</string>
	<key>x.superior</key>
	<string>x.superior.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.smcp</key>
	<string>y.smcp.glif</string>
	<key>y.superior</key>
	<string>y.superior.glif</string>
	<key>yacute.smcp</key>
	<string>yacute.smcp.glif</string>
	<key>ycircumflex.smcp</key>
	<string>ycircumflex.smcp.glif</string>
	<key>ydieresis.smcp</key>
	<string>ydieresis.smcp.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yen.smcp</key>
	<string>yen.smcp.glif</string>
	<key>ygrave.smcp</key>
	<string>ygrave.smcp.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.smcp</key>
	<string>z.smcp.glif</string>
	<key>z.superior</key>
	<string>z.superior.glif</string>
	<key>zacute.smcp</key>
	<string>zacute.smcp.glif</string>
	<key>zcaron.smcp</key>
	<string>zcaron.smcp.glif</string>
	<key>zdotaccent.smcp</key>
	<string>zdotaccent.smcp.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.denominator</key>
	<string>zero.denominator.glif</string>
	<key>zero.numerator</key>
	<string>zero.numerator.glif</string>
	<key>zero.oldstyle</key>
	<string>zero.oldstyle.glif</string>
	<key>zero.smcp</key>
	<string>zero.smcp.glif</string>
	<key>zero.tnum</key>
	<string>zero.tnum.glif</string>
	<key>zero.tosf</key>
	<string>zero.tosf.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
