<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abrevedotbelow</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevetilde</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflextilde</string>
		<string>Ainvertedbreve</string>
	</array>
	<key>@MMK_L_A.smcp</key>
	<array>
		<string>A.smcp</string>
		<string>Aacute.smcp</string>
		<string>Abreve.smcp</string>
		<string>Acircumflex.smcp</string>
		<string>Adieresis.smcp</string>
		<string>Adotbelow.smcp</string>
		<string>Agrave.smcp</string>
		<string>Amacron.smcp</string>
		<string>Aogonek.smcp</string>
		<string>Aring.smcp</string>
		<string>Aringacute.smcp</string>
		<string>Atilde.smcp</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Odieresismacron</string>
		<string>Ohorn</string>
		<string>Otildemacron</string>
		<string>Q</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Schwa</string>
		<string>Odotaccentmacron</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uhorn</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>W.salt</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ainvertedbreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_a.salt</key>
	<array>
		<string>a.salt</string>
		<string>aacute.salt</string>
		<string>abreve.salt</string>
		<string>acircumflex.salt</string>
		<string>adieresis.salt</string>
		<string>adotbelow.salt</string>
		<string>agrave.salt</string>
		<string>amacron.salt</string>
		<string>aogonek.salt</string>
		<string>aring.salt</string>
		<string>aringacute.salt</string>
		<string>atilde.salt</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>ocircumflexacute</string>
		<string>odieresismacron</string>
		<string>ohorn</string>
		<string>otildemacron</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uhorn</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abrevedotbelow</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevetilde</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflextilde</string>
		<string>Ainvertedbreve</string>
	</array>
	<key>@MMK_R_A.smcp</key>
	<array>
		<string>A.smcp</string>
		<string>Aacute.smcp</string>
		<string>Abreve.smcp</string>
		<string>Acircumflex.smcp</string>
		<string>Adieresis.smcp</string>
		<string>Adotbelow.smcp</string>
		<string>Agrave.smcp</string>
		<string>Amacron.smcp</string>
		<string>Aogonek.smcp</string>
		<string>Aring.smcp</string>
		<string>Aringacute.smcp</string>
		<string>Atilde.smcp</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Odieresismacron</string>
		<string>Ohorn</string>
		<string>Otildemacron</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uhorn</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>W.salt</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
		<string>X.salt</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ainvertedbreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_a.salt</key>
	<array>
		<string>a.salt</string>
		<string>aacute.salt</string>
		<string>abreve.salt</string>
		<string>acircumflex.salt</string>
		<string>adieresis.salt</string>
		<string>adotbelow.salt</string>
		<string>agrave.salt</string>
		<string>amacron.salt</string>
		<string>aogonek.salt</string>
		<string>aring.salt</string>
		<string>aringacute.salt</string>
		<string>atilde.salt</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>ocircumflexacute</string>
		<string>odieresismacron</string>
		<string>ohorn</string>
		<string>otildemacron</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uhorn</string>
	</array>
</dict>
</plist>
