<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-86</integer>
		<key>@MMK_R_V</key>
		<integer>-78</integer>
		<key>@MMK_R_Y</key>
		<integer>-83</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-67</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-16</integer>
		<key>@MMK_R_T</key>
		<integer>-76</integer>
		<key>@MMK_R_V</key>
		<integer>-56</integer>
		<key>@MMK_R_Y</key>
		<integer>-87</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-86</integer>
		<key>@MMK_R_O</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-84</integer>
		<key>@MMK_R_O</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-86</integer>
		<key>@MMK_R_O</key>
		<integer>-41</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-41</integer>
	</dict>
</dict>
</plist>
