<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>763</integer>
    <key>capHeight</key>
    <integer>732</integer>
    <key>copyright</key>
    <string>Copyright 2017 The Exo Project Authors (https://github.com/NDISCOVER/Exo-1.0)</string>
    <key>descender</key>
    <integer>-237</integer>
    <key>familyName</key>
    <string>Exo</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2010/02/08 21:38:21</string>
    <key>openTypeHheaAscender</key>
    <integer>1002</integer>
    <key>openTypeHheaDescender</key>
    <integer>-327</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Natanael Gama</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.ndiscovered.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Natanael Gama</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.ndiscovered.com</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1002</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-327</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>TINY</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1134</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>270</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-6</integer>
      <integer>1</integer>
      <integer>531</integer>
      <integer>531</integer>
      <integer>732</integer>
      <integer>732</integer>
      <integer>782</integer>
      <integer>784</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>21</integer>
      <integer>59</integer>
      <integer>69</integer>
      <integer>74</integer>
      <integer>79</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Exo Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Thin</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>531</integer>
  </dict>
</plist>
