<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>763</integer>
	<key>capHeight</key>
	<integer>739</integer>
	<key>descender</key>
	<integer>-237</integer>
	<key>familyName</key>
	<string>Exo</string>
	<key>italicAngle</key>
	<integer>0</integer>
	<key>openTypeHheaAscender</key>
	<integer>1002</integer>
	<key>openTypeHheaDescender</key>
	<integer>-299</integer>
	<key>openTypeHheaLineGap</key>
	<integer>90</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>800</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>90</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>600</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1002</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>299</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-6</integer>
		<integer>1</integer>
		<integer>531</integer>
		<integer>531</integer>
		<integer>732</integer>
		<integer>732</integer>
		<integer>782</integer>
		<integer>784</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Exo-Demibold</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>21</integer>
		<integer>59</integer>
		<integer>69</integer>
		<integer>74</integer>
		<integer>79</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Semi-bold</string>
	<key>styleName</key>
	<string>Demibold</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>536</integer>
</dict>
</plist>
