<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-8</integer>
		<key>@MMK_R_T</key>
		<integer>-46</integer>
		<key>@MMK_R_U</key>
		<integer>-18</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-47</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-15</integer>
		<key>@MMK_R_e</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-8</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_quote</key>
		<integer>-47</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-55</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-6</integer>
		<key>question</key>
		<integer>-18</integer>
		<key>seven</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_A.smcp</key>
	<dict>
		<key>@MMK_R_O.smcp</key>
		<integer>-5</integer>
		<key>@MMK_R_T.smcp</key>
		<integer>-40</integer>
		<key>@MMK_R_V.smcp</key>
		<integer>-29</integer>
		<key>@MMK_R_Y.smcp</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-43</integer>
		<key>@MMK_R_J</key>
		<integer>-44</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_d</key>
		<integer>-25</integer>
		<key>@MMK_R_e</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-12</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-45</integer>
		<key>@MMK_R_r</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-18</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>one</key>
		<integer>12</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>12</integer>
	</dict>
	<key>@MMK_L_F.smcp</key>
	<dict>
		<key>@MMK_R_A.smcp</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_U</key>
		<integer>-6</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-25</integer>
		<key>@MMK_R_d</key>
		<integer>-25</integer>
		<key>@MMK_R_e</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_K.smcp</key>
	<dict>
		<key>@MMK_R_O.smcp</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-35</integer>
		<key>@MMK_R_U</key>
		<integer>-9</integer>
		<key>@MMK_R_V</key>
		<integer>-42</integer>
		<key>@MMK_R_Y</key>
		<integer>-52</integer>
		<key>@MMK_R_quote</key>
		<integer>-71</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-50</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_L.smcp</key>
	<dict>
		<key>@MMK_R_O.smcp</key>
		<integer>-5</integer>
		<key>@MMK_R_T.smcp</key>
		<integer>-35</integer>
		<key>@MMK_R_V.smcp</key>
		<integer>-42</integer>
		<key>@MMK_R_Y.smcp</key>
		<integer>-52</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-8</integer>
		<key>@MMK_R_J</key>
		<integer>-12</integer>
		<key>@MMK_R_T</key>
		<integer>-5</integer>
		<key>@MMK_R_V</key>
		<integer>-15</integer>
		<key>@MMK_R_X</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
		<key>@MMK_R_d</key>
		<integer>-10</integer>
		<key>@MMK_R_e</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>parenright.alt</key>
		<integer>-18</integer>
		<key>question</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_O.smcp</key>
	<dict>
		<key>@MMK_R_A.smcp</key>
		<integer>-5</integer>
		<key>@MMK_R_T.smcp</key>
		<integer>-5</integer>
		<key>@MMK_R_V.smcp</key>
		<integer>-15</integer>
		<key>@MMK_R_Y.smcp</key>
		<integer>-15</integer>
		<key>X.smcp</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-29</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_w</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-12</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
		<key>@MMK_R_d</key>
		<integer>-10</integer>
		<key>@MMK_R_e</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>question</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-46</integer>
		<key>@MMK_R_J</key>
		<integer>-38</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-48</integer>
		<key>@MMK_R_c</key>
		<integer>-58</integer>
		<key>@MMK_R_colon</key>
		<integer>-10</integer>
		<key>@MMK_R_d</key>
		<integer>-58</integer>
		<key>@MMK_R_e</key>
		<integer>-58</integer>
		<key>@MMK_R_g</key>
		<integer>-64</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-35</integer>
		<key>@MMK_R_n</key>
		<integer>-28</integer>
		<key>@MMK_R_o</key>
		<integer>-58</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_r</key>
		<integer>-28</integer>
		<key>@MMK_R_s</key>
		<integer>-58</integer>
		<key>@MMK_R_t</key>
		<integer>-14</integer>
		<key>@MMK_R_u</key>
		<integer>-28</integer>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-70</integer>
		<key>four</key>
		<integer>-29</integer>
		<key>m</key>
		<integer>-28</integer>
		<key>nine.oldstyle</key>
		<integer>-18</integer>
		<key>one</key>
		<integer>12</integer>
		<key>p</key>
		<integer>-28</integer>
		<key>q</key>
		<integer>-29</integer>
		<key>seven</key>
		<integer>12</integer>
		<key>x</key>
		<integer>-50</integer>
		<key>zero.oldstyle</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_T.smcp</key>
	<dict>
		<key>@MMK_R_A.smcp</key>
		<integer>-40</integer>
		<key>@MMK_R_O.smcp</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-18</integer>
		<key>@MMK_R_J</key>
		<integer>-12</integer>
		<key>@MMK_R_X</key>
		<integer>-6</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_J</key>
		<integer>-41</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-38</integer>
		<key>@MMK_R_c</key>
		<integer>-48</integer>
		<key>@MMK_R_colon</key>
		<integer>-15</integer>
		<key>@MMK_R_d</key>
		<integer>-48</integer>
		<key>@MMK_R_e</key>
		<integer>-48</integer>
		<key>@MMK_R_g</key>
		<integer>-48</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-38</integer>
		<key>@MMK_R_o</key>
		<integer>-48</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_r</key>
		<integer>-38</integer>
		<key>@MMK_R_s</key>
		<integer>-44</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>eight</key>
		<integer>-12</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-35</integer>
		<key>four.oldstyle</key>
		<integer>-35</integer>
		<key>four.smcp</key>
		<integer>-29</integer>
		<key>m</key>
		<integer>-38</integer>
		<key>nine</key>
		<integer>-6</integer>
		<key>nine.oldstyle</key>
		<integer>-18</integer>
		<key>one</key>
		<integer>12</integer>
		<key>p</key>
		<integer>-38</integer>
		<key>seven</key>
		<integer>18</integer>
		<key>six</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>zero.oldstyle</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_V.smcp</key>
	<dict>
		<key>@MMK_R_A.smcp</key>
		<integer>-29</integer>
		<key>@MMK_R_O.smcp</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-47</integer>
		<key>@MMK_R_J</key>
		<integer>-41</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-68</integer>
		<key>@MMK_R_c</key>
		<integer>-78</integer>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-78</integer>
		<key>@MMK_R_e</key>
		<integer>-78</integer>
		<key>@MMK_R_g</key>
		<integer>-88</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-24</integer>
		<key>@MMK_R_n</key>
		<integer>-58</integer>
		<key>@MMK_R_o</key>
		<integer>-78</integer>
		<key>@MMK_R_r</key>
		<integer>-58</integer>
		<key>@MMK_R_s</key>
		<integer>-74</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-58</integer>
		<key>@MMK_R_w</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-50</integer>
		<key>f</key>
		<integer>-24</integer>
		<key>germandbls</key>
		<integer>-40</integer>
		<key>m</key>
		<integer>-58</integer>
		<key>nine.oldstyle</key>
		<integer>-18</integer>
		<key>p</key>
		<integer>-58</integer>
		<key>x</key>
		<integer>-50</integer>
		<key>zero.oldstyle</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_Y.smcp</key>
	<dict>
		<key>@MMK_R_A.smcp</key>
		<integer>-35</integer>
		<key>@MMK_R_O.smcp</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-18</integer>
		<key>@MMK_R_quote</key>
		<integer>-18</integer>
		<key>@MMK_R_w</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>-12</integer>
		<key>x</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_dcaron</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>6</integer>
		<key>@MMK_R_c</key>
		<integer>18</integer>
		<key>@MMK_R_h</key>
		<integer>71</integer>
		<key>@MMK_R_i</key>
		<integer>82</integer>
		<key>@MMK_R_l</key>
		<integer>84</integer>
		<key>@MMK_R_quote</key>
		<integer>106</integer>
		<key>@MMK_R_s</key>
		<integer>35</integer>
		<key>@MMK_R_t</key>
		<integer>47</integer>
		<key>@MMK_R_z</key>
		<integer>35</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-18</integer>
		<key>@MMK_R_quote</key>
		<integer>-12</integer>
		<key>@MMK_R_w</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>18</integer>
		<key>@MMK_R_period</key>
		<integer>-32</integer>
		<key>@MMK_R_quote</key>
		<integer>12</integer>
		<key>backslash</key>
		<integer>18</integer>
		<key>bar</key>
		<integer>6</integer>
		<key>exclam</key>
		<integer>12</integer>
		<key>question</key>
		<integer>12</integer>
		<key>slash</key>
		<integer>-29</integer>
		<key>underscore</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-12</integer>
		<key>@MMK_R_a</key>
		<integer>-6</integer>
		<key>@MMK_R_t</key>
		<integer>6</integer>
		<key>underscore</key>
		<integer>6</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_oslash</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-18</integer>
		<key>@MMK_R_quote</key>
		<integer>-18</integer>
		<key>@MMK_R_w</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_oslash</key>
	<dict>
		<key>x</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_quote</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-47</integer>
		<key>@MMK_R_J</key>
		<integer>-59</integer>
		<key>@MMK_R_a</key>
		<integer>-12</integer>
		<key>@MMK_R_ae</key>
		<integer>-12</integer>
		<key>@MMK_R_c</key>
		<integer>-18</integer>
		<key>@MMK_R_d</key>
		<integer>-18</integer>
		<key>@MMK_R_e</key>
		<integer>-18</integer>
		<key>@MMK_R_g</key>
		<integer>-29</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
		<key>@MMK_R_period</key>
		<integer>-41</integer>
		<key>@MMK_R_s</key>
		<integer>-12</integer>
		<key>eight</key>
		<integer>-12</integer>
		<key>eth</key>
		<integer>-18</integer>
		<key>four</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-18</integer>
		<key>six</key>
		<integer>-6</integer>
		<key>slash</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-12</integer>
		<key>@MMK_R_ae</key>
		<integer>-12</integer>
		<key>@MMK_R_period</key>
		<integer>-57</integer>
		<key>@MMK_R_t</key>
		<integer>6</integer>
		<key>underscore</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-18</integer>
		<key>@MMK_R_quote</key>
		<integer>-12</integer>
		<key>@MMK_R_w</key>
		<integer>-9</integer>
		<key>x</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-12</integer>
		<key>@MMK_R_c</key>
		<integer>-12</integer>
		<key>@MMK_R_d</key>
		<integer>-12</integer>
		<key>@MMK_R_e</key>
		<integer>-12</integer>
		<key>@MMK_R_g</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
		<key>@MMK_R_period</key>
		<integer>-35</integer>
		<key>@MMK_R_s</key>
		<integer>-9</integer>
		<key>four.oldstyle</key>
		<integer>-18</integer>
		<key>q</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-35</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-6</integer>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-18</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
		<key>@MMK_R_d</key>
		<integer>-10</integer>
		<key>@MMK_R_e</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_quote</key>
		<integer>-24</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-16</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-16</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-18</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_U</key>
		<integer>-6</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_d</key>
		<integer>-30</integer>
		<key>@MMK_R_e</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-26</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
		<key>f</key>
		<integer>-10</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-20</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>12</integer>
		<key>backslash</key>
		<integer>-82</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>-12</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-17</integer>
		<key>@MMK_R_V</key>
		<integer>-12</integer>
		<key>@MMK_R_quote</key>
		<integer>-41</integer>
		<key>@MMK_R_w</key>
		<integer>-35</integer>
		<key>four</key>
		<integer>-6</integer>
		<key>nine</key>
		<integer>-6</integer>
		<key>one</key>
		<integer>-35</integer>
		<key>seven</key>
		<integer>-24</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-12</integer>
	</dict>
	<key>emdash</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-14</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
	</dict>
	<key>eth</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-6</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>12</integer>
		<key>seven</key>
		<integer>-12</integer>
	</dict>
	<key>germandbls</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-12</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-6</integer>
		<key>@MMK_R_J</key>
		<integer>-18</integer>
		<key>@MMK_R_X</key>
		<integer>-18</integer>
		<key>@MMK_R_Y</key>
		<integer>-24</integer>
		<key>four</key>
		<integer>6</integer>
		<key>one</key>
		<integer>-18</integer>
		<key>seven</key>
		<integer>-24</integer>
		<key>slash</key>
		<integer>-24</integer>
		<key>two</key>
		<integer>-12</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-18</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-6</integer>
	</dict>
	<key>parenleft.alt</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-18</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-29</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-12</integer>
		<key>@MMK_R_period</key>
		<integer>-53</integer>
		<key>four</key>
		<integer>-24</integer>
		<key>four.oldstyle</key>
		<integer>-18</integer>
		<key>zero.oldstyle</key>
		<integer>-6</integer>
	</dict>
	<key>seven.oldstyle</key>
	<dict>
		<key>four.oldstyle</key>
		<integer>-18</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-6</integer>
		<key>@MMK_R_c</key>
		<integer>-12</integer>
		<key>@MMK_R_colon</key>
		<integer>-24</integer>
		<key>@MMK_R_d</key>
		<integer>-12</integer>
		<key>@MMK_R_e</key>
		<integer>-12</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-41</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
		<key>@MMK_R_parenright</key>
		<integer>12</integer>
		<key>@MMK_R_period</key>
		<integer>-59</integer>
		<key>@MMK_R_quote</key>
		<integer>6</integer>
		<key>f</key>
		<integer>-6</integer>
		<key>q</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>-82</integer>
	</dict>
	<key>underscore</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>12</integer>
		<key>@MMK_R_w</key>
		<integer>-18</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-6</integer>
		<key>@MMK_R_c</key>
		<integer>-18</integer>
		<key>@MMK_R_d</key>
		<integer>-18</integer>
		<key>@MMK_R_e</key>
		<integer>-18</integer>
		<key>@MMK_R_g</key>
		<integer>-9</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
		<key>@MMK_R_oslash</key>
		<integer>-6</integer>
		<key>@MMK_R_s</key>
		<integer>-6</integer>
		<key>q</key>
		<integer>-18</integer>
	</dict>
</dict>
</plist>
