<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.loicsander.scaleFast</key>
	<dict>
		<key>guides</key>
		<array>
		</array>
		<key>presets</key>
		<dict>
		</dict>
	</dict>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>alphabetical</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>category</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>unicode</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>script</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>suffix</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>decompositionBase</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.templateCharacterSet</key>
	<string>GF Latin Plus</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Aringacute</string>
		<string>Ainvertedbreve</string>
		<string>Adotbelow</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflextilde</string>
		<string>Acircumflexdotbelow</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevetilde</string>
		<string>Abrevedotbelow</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Einvertedbreve</string>
		<string>Edotbelow</string>
		<string>Etilde</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflextilde</string>
		<string>Ecircumflexdotbelow</string>
		<string>F</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcaron</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Iinvertedbreve</string>
		<string>Idotbelow</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Ohorn</string>
		<string>Oogonek</string>
		<string>Oinvertedbreve</string>
		<string>Odieresismacron</string>
		<string>Otildemacron</string>
		<string>Odotbelow</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ohornacute</string>
		<string>Ohorngrave</string>
		<string>Ohorntilde</string>
		<string>Ohorndotbelow</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rinvertedbreve</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Uhorn</string>
		<string>Uinvertedbreve</string>
		<string>Udotbelow</string>
		<string>Uhornacute</string>
		<string>Uhorngrave</string>
		<string>Uhorntilde</string>
		<string>Uhorndotbelow</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ymacron</string>
		<string>Ygrave</string>
		<string>Ydotbelow</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>Schwa</string>
		<string>DZcaron</string>
		<string>LJ</string>
		<string>NJ</string>
		<string>Germandbls</string>
		<string>M.salt</string>
		<string>N.salt</string>
		<string>Ntilde.salt</string>
		<string>Nacute.salt</string>
		<string>Ncaron.salt</string>
		<string>W.salt</string>
		<string>Wcircumflex.salt</string>
		<string>Wgrave.salt</string>
		<string>Wacute.salt</string>
		<string>Wdieresis.salt</string>
		<string>X.salt</string>
		<string>M.salt.smcp</string>
		<string>N.salt.smcp</string>
		<string>W.salt.smcp</string>
		<string>X.salt.smcp</string>
		<string>Ntilde.salt.smcp</string>
		<string>Nacute.salt.smcp</string>
		<string>Ncaron.salt.smcp</string>
		<string>Wcircumflex.salt.smcp</string>
		<string>Wgrave.salt.smcp</string>
		<string>Wacute.salt.smcp</string>
		<string>Wdieresis.salt.smcp</string>
		<string>A.smcp</string>
		<string>Agrave.smcp</string>
		<string>Aacute.smcp</string>
		<string>Acircumflex.smcp</string>
		<string>Atilde.smcp</string>
		<string>Adieresis.smcp</string>
		<string>Aring.smcp</string>
		<string>Amacron.smcp</string>
		<string>Abreve.smcp</string>
		<string>Aogonek.smcp</string>
		<string>Aringacute.smcp</string>
		<string>Ainvertedbreve.smcp</string>
		<string>Adotbelow.smcp</string>
		<string>Acircumflexacute.smcp</string>
		<string>Acircumflexgrave.smcp</string>
		<string>Acircumflextilde.smcp</string>
		<string>Acircumflexdotbelow.smcp</string>
		<string>Abreveacute.smcp</string>
		<string>Abrevegrave.smcp</string>
		<string>Abrevetilde.smcp</string>
		<string>Abrevedotbelow.smcp</string>
		<string>B.smcp</string>
		<string>C.smcp</string>
		<string>Ccedilla.smcp</string>
		<string>Cacute.smcp</string>
		<string>Ccircumflex.smcp</string>
		<string>Cdotaccent.smcp</string>
		<string>Ccaron.smcp</string>
		<string>D.smcp</string>
		<string>Dcaron.smcp</string>
		<string>E.smcp</string>
		<string>Egrave.smcp</string>
		<string>Eacute.smcp</string>
		<string>Ecircumflex.smcp</string>
		<string>Edieresis.smcp</string>
		<string>Emacron.smcp</string>
		<string>Ebreve.smcp</string>
		<string>Edotaccent.smcp</string>
		<string>Eogonek.smcp</string>
		<string>Ecaron.smcp</string>
		<string>Einvertedbreve.smcp</string>
		<string>Edotbelow.smcp</string>
		<string>Etilde.smcp</string>
		<string>Ecircumflexacute.smcp</string>
		<string>Ecircumflexgrave.smcp</string>
		<string>Ecircumflextilde.smcp</string>
		<string>Ecircumflexdotbelow.smcp</string>
		<string>F.smcp</string>
		<string>G.smcp</string>
		<string>Gcircumflex.smcp</string>
		<string>Gbreve.smcp</string>
		<string>Gdotaccent.smcp</string>
		<string>Gcaron.smcp</string>
		<string>H.smcp</string>
		<string>Hcircumflex.smcp</string>
		<string>I.smcp</string>
		<string>Igrave.smcp</string>
		<string>Iacute.smcp</string>
		<string>Icircumflex.smcp</string>
		<string>Idieresis.smcp</string>
		<string>Itilde.smcp</string>
		<string>Imacron.smcp</string>
		<string>Ibreve.smcp</string>
		<string>Iogonek.smcp</string>
		<string>Idotaccent.smcp</string>
		<string>Iinvertedbreve.smcp</string>
		<string>Idotbelow.smcp</string>
		<string>J.smcp</string>
		<string>Jcircumflex.smcp</string>
		<string>K.smcp</string>
		<string>L.smcp</string>
		<string>Lacute.smcp</string>
		<string>Lcaron.smcp</string>
		<string>M.smcp</string>
		<string>N.smcp</string>
		<string>Ntilde.smcp</string>
		<string>Nacute.smcp</string>
		<string>Ncaron.smcp</string>
		<string>O.smcp</string>
		<string>Ograve.smcp</string>
		<string>Oacute.smcp</string>
		<string>Ocircumflex.smcp</string>
		<string>Otilde.smcp</string>
		<string>Odieresis.smcp</string>
		<string>Omacron.smcp</string>
		<string>Obreve.smcp</string>
		<string>Ohungarumlaut.smcp</string>
		<string>Ohorn.smcp</string>
		<string>Oogonek.smcp</string>
		<string>Oinvertedbreve.smcp</string>
		<string>Odieresismacron.smcp</string>
		<string>Otildemacron.smcp</string>
		<string>Odotbelow.smcp</string>
		<string>Ocircumflexacute.smcp</string>
		<string>Ocircumflexgrave.smcp</string>
		<string>Ocircumflextilde.smcp</string>
		<string>Ocircumflexdotbelow.smcp</string>
		<string>Ohornacute.smcp</string>
		<string>Ohorngrave.smcp</string>
		<string>Ohorntilde.smcp</string>
		<string>Ohorndotbelow.smcp</string>
		<string>P.smcp</string>
		<string>Q.smcp</string>
		<string>R.smcp</string>
		<string>Racute.smcp</string>
		<string>Rcaron.smcp</string>
		<string>Rinvertedbreve.smcp</string>
		<string>S.smcp</string>
		<string>Sacute.smcp</string>
		<string>Scircumflex.smcp</string>
		<string>Scedilla.smcp</string>
		<string>Scaron.smcp</string>
		<string>Scommaaccent.smcp</string>
		<string>T.smcp</string>
		<string>Tcedilla.smcp</string>
		<string>Tcaron.smcp</string>
		<string>Tcommaaccent.smcp</string>
		<string>U.smcp</string>
		<string>Ugrave.smcp</string>
		<string>Uacute.smcp</string>
		<string>Ucircumflex.smcp</string>
		<string>Udieresis.smcp</string>
		<string>Utilde.smcp</string>
		<string>Umacron.smcp</string>
		<string>Ubreve.smcp</string>
		<string>Uring.smcp</string>
		<string>Uhungarumlaut.smcp</string>
		<string>Uogonek.smcp</string>
		<string>Uhorn.smcp</string>
		<string>Uinvertedbreve.smcp</string>
		<string>Udotbelow.smcp</string>
		<string>Uhornacute.smcp</string>
		<string>Uhorngrave.smcp</string>
		<string>Uhorntilde.smcp</string>
		<string>Uhorndotbelow.smcp</string>
		<string>V.smcp</string>
		<string>W.smcp</string>
		<string>Wcircumflex.smcp</string>
		<string>Wgrave.smcp</string>
		<string>Wacute.smcp</string>
		<string>Wdieresis.smcp</string>
		<string>X.smcp</string>
		<string>Y.smcp</string>
		<string>Yacute.smcp</string>
		<string>Ycircumflex.smcp</string>
		<string>Ydieresis.smcp</string>
		<string>Ymacron.smcp</string>
		<string>Ygrave.smcp</string>
		<string>Ydotbelow.smcp</string>
		<string>Ytilde.smcp</string>
		<string>Z.smcp</string>
		<string>Zacute.smcp</string>
		<string>Zdotaccent.smcp</string>
		<string>Zcaron.smcp</string>
		<string>AE.smcp</string>
		<string>AEacute.smcp</string>
		<string>Eth.smcp</string>
		<string>Oslash.smcp</string>
		<string>Oslashacute.smcp</string>
		<string>Thorn.smcp</string>
		<string>Dcroat.smcp</string>
		<string>Hbar.smcp</string>
		<string>Ldot.smcp</string>
		<string>Lslash.smcp</string>
		<string>Eng.smcp</string>
		<string>OE.smcp</string>
		<string>Tbar.smcp</string>
		<string>Schwa.smcp</string>
		<string>Germandbls.smcp</string>
		<string>Omega</string>
		<string>uni00B5</string>
		<string>afii61289</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>aringacute</string>
		<string>ainvertedbreve</string>
		<string>adotbelow</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflextilde</string>
		<string>acircumflexdotbelow</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevetilde</string>
		<string>abrevedotbelow</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>ccaron</string>
		<string>c_h</string>
		<string>c_k</string>
		<string>c_t</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>einvertedbreve</string>
		<string>edotbelow</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdotbelow</string>
		<string>f</string>
		<string>f_f_l</string>
		<string>f_t</string>
		<string>f_y</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcaron</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>iogonek</string>
		<string>iinvertedbreve</string>
		<string>idotbelow</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>ohorn</string>
		<string>oogonek</string>
		<string>oinvertedbreve</string>
		<string>odieresismacron</string>
		<string>otildemacron</string>
		<string>odotbelow</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdotbelow</string>
		<string>ohornacute</string>
		<string>ohorngrave</string>
		<string>ohorntilde</string>
		<string>ohorndotbelow</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rinvertedbreve</string>
		<string>s</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>t_t</string>
		<string>t_y</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>uhorn</string>
		<string>uinvertedbreve</string>
		<string>udotbelow</string>
		<string>uhornacute</string>
		<string>uhorngrave</string>
		<string>uhorntilde</string>
		<string>uhorndotbelow</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ymacron</string>
		<string>ygrave</string>
		<string>ydotbelow</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>eth</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>thorn</string>
		<string>dcroat</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>kgreenlandic</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>eng</string>
		<string>oe</string>
		<string>tbar</string>
		<string>florin</string>
		<string>dzcaron</string>
		<string>lj</string>
		<string>nj</string>
		<string>f_f</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_f_i</string>
		<string>ffl</string>
		<string>s_t</string>
		<string>a.salt</string>
		<string>agrave.salt</string>
		<string>aacute.salt</string>
		<string>acircumflex.salt</string>
		<string>atilde.salt</string>
		<string>adieresis.salt</string>
		<string>aring.salt</string>
		<string>amacron.salt</string>
		<string>abreve.salt</string>
		<string>aogonek.salt</string>
		<string>aringacute.salt</string>
		<string>ainvertedbreve.salt</string>
		<string>adotbelow.salt</string>
		<string>acircumflexacute.salt</string>
		<string>acircumflexgrave.salt</string>
		<string>acircumflextilde.salt</string>
		<string>acircumflexdotbelow.salt</string>
		<string>abreveacute.salt</string>
		<string>abrevegrave.salt</string>
		<string>abrevetilde.salt</string>
		<string>abrevedotbelow.salt</string>
		<string>b.salt</string>
		<string>d.salt</string>
		<string>dcaron.salt</string>
		<string>f.salt</string>
		<string>g.salt</string>
		<string>gcircumflex.salt</string>
		<string>gbreve.salt</string>
		<string>gdotaccent.salt</string>
		<string>gcaron.salt</string>
		<string>m.salt</string>
		<string>n.salt</string>
		<string>ntilde.salt</string>
		<string>nacute.salt</string>
		<string>ncaron.salt</string>
		<string>p.salt</string>
		<string>r.salt</string>
		<string>racute.salt</string>
		<string>rcaron.salt</string>
		<string>rinvertedbreve.salt</string>
		<string>t.salt</string>
		<string>tcedilla.salt</string>
		<string>tcaron.salt</string>
		<string>tcommaaccent.salt</string>
		<string>u.salt</string>
		<string>ugrave.salt</string>
		<string>uacute.salt</string>
		<string>ucircumflex.salt</string>
		<string>udieresis.salt</string>
		<string>utilde.salt</string>
		<string>umacron.salt</string>
		<string>ubreve.salt</string>
		<string>uring.salt</string>
		<string>uhungarumlaut.salt</string>
		<string>uogonek.salt</string>
		<string>uhorn.salt</string>
		<string>uinvertedbreve.salt</string>
		<string>udotbelow.salt</string>
		<string>uhornacute.salt</string>
		<string>uhorngrave.salt</string>
		<string>uhorntilde.salt</string>
		<string>uhorndotbelow.salt</string>
		<string>w.salt</string>
		<string>wcircumflex.salt</string>
		<string>wgrave.salt</string>
		<string>wacute.salt</string>
		<string>wdieresis.salt</string>
		<string>x.salt</string>
		<string>dcroat.salt</string>
		<string>tbar.salt</string>
		<string>ordfeminine.smcp</string>
		<string>ordmasculine.smcp</string>
		<string>germandbls.smcp</string>
		<string>florin.smcp</string>
		<string>a.superior</string>
		<string>b.superior</string>
		<string>c.superior</string>
		<string>d.superior</string>
		<string>e.superior</string>
		<string>f.superior</string>
		<string>g.superior</string>
		<string>h.superior</string>
		<string>j.superior</string>
		<string>k.superior</string>
		<string>l.superior</string>
		<string>m.superior</string>
		<string>o.superior</string>
		<string>p.superior</string>
		<string>q.superior</string>
		<string>r.superior</string>
		<string>s.superior</string>
		<string>t.superior</string>
		<string>u.superior</string>
		<string>v.superior</string>
		<string>w.superior</string>
		<string>x.superior</string>
		<string>y.superior</string>
		<string>z.superior</string>
		<string>pi</string>
		<string>Dzcaron</string>
		<string>Lj</string>
		<string>Nj</string>
		<string>apostrophemod</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>i.superior</string>
		<string>n.superior</string>
		<string>uni0338</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.denominator</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.numerator</string>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
		<string>zero.oldstyle</string>
		<string>one.oldstyle</string>
		<string>two.oldstyle</string>
		<string>three.oldstyle</string>
		<string>four.oldstyle</string>
		<string>five.oldstyle</string>
		<string>six.oldstyle</string>
		<string>seven.oldstyle</string>
		<string>eight.oldstyle</string>
		<string>nine.oldstyle</string>
		<string>zero.oldstyle.zero</string>
		<string>zero.smcp</string>
		<string>one.smcp</string>
		<string>two.smcp</string>
		<string>three.smcp</string>
		<string>four.smcp</string>
		<string>five.smcp</string>
		<string>six.smcp</string>
		<string>seven.smcp</string>
		<string>eight.smcp</string>
		<string>nine.smcp</string>
		<string>zero.tnum</string>
		<string>one.tnum</string>
		<string>two.tnum</string>
		<string>three.tnum</string>
		<string>four.tnum</string>
		<string>five.tnum</string>
		<string>six.tnum</string>
		<string>seven.tnum</string>
		<string>eight.tnum</string>
		<string>nine.tnum</string>
		<string>zero.tnum.zero</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>zero.tosf.zero</string>
		<string>zero.zero</string>
		<string>zero.zero.smcp</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>zerosuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>hyphen.alt</string>
		<string>endash.alt</string>
		<string>emdash.alt</string>
		<string>hyphen.smcp</string>
		<string>endash.smcp</string>
		<string>emdash.smcp</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>parenleft.alt</string>
		<string>parenleft.smcp</string>
		<string>bracketleft.smcp</string>
		<string>braceleft.smcp</string>
		<string>quotesinglbase.smcp</string>
		<string>quotedblbase.smcp</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>parenright.alt</string>
		<string>parenright.smcp</string>
		<string>bracketright.smcp</string>
		<string>braceright.smcp</string>
		<string>guillemotleft</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>guilsinglleft</string>
		<string>quoteleft.smcp</string>
		<string>quotedblleft.smcp</string>
		<string>guillemotright</string>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>guilsinglright</string>
		<string>quoteright.smcp</string>
		<string>quotedblright.smcp</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>at.alt</string>
		<string>exclamdown.alt</string>
		<string>questiondown.alt</string>
		<string>periodcentered.loclCAT</string>
		<string>periodcentered.loclCAT.case</string>
		<string>ampersand.salt</string>
		<string>exclam.smcp</string>
		<string>quotedbl.smcp</string>
		<string>numbersign.smcp</string>
		<string>percent.smcp</string>
		<string>ampersand.smcp</string>
		<string>quotesingle.smcp</string>
		<string>asterisk.smcp</string>
		<string>question.smcp</string>
		<string>at.smcp</string>
		<string>exclamdown.smcp</string>
		<string>questiondown.smcp</string>
		<string>bullet.smcp</string>
		<string>perthousand.smcp</string>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>fraction</string>
		<string>partialdiff</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>divisionslash</string>
		<string>bulletoperator</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>franc</string>
		<string>lira</string>
		<string>naira</string>
		<string>peseta</string>
		<string>won</string>
		<string>dong</string>
		<string>kip</string>
		<string>peso</string>
		<string>guarani</string>
		<string>cedi</string>
		<string>dollar.smcp</string>
		<string>sterling.smcp</string>
		<string>yen.smcp</string>
		<string>franc.smcp</string>
		<string>lira.smcp</string>
		<string>naira.smcp</string>
		<string>peseta.smcp</string>
		<string>won.smcp</string>
		<string>dong.smcp</string>
		<string>kip.smcp</string>
		<string>peso.smcp</string>
		<string>guarani.smcp</string>
		<string>cedi.smcp</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>afii61352</string>
		<string>trademark</string>
		<string>estimated</string>
		<string>lozenge</string>
		<string>degree.smcp</string>
		<string>space</string>
		<string>nbspace</string>
		<string>.notdef</string>
		<string>uni000D</string>
		<string>uni00AD</string>
		<string>uni00AD.alt</string>
		<string>uni00AD.smcp</string>
		<string>manat</string>
		<string>ruble</string>
		<string>manat.smcp</string>
		<string>ruble.smcp</string>
		<string>Abrevehookabove</string>
		<string>Acircumflexhookabove</string>
		<string>Adblgrave</string>
		<string>Ahookabove</string>
		<string>Ecircumflexhookabove</string>
		<string>Edblgrave</string>
		<string>Ehookabove</string>
		<string>Gcommaaccent</string>
		<string>Idblgrave</string>
		<string>Ihookabove</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Ncommaaccent</string>
		<string>Ocircumflexhookabove</string>
		<string>Odblgrave</string>
		<string>Odotaccentmacron</string>
		<string>Ohookabove</string>
		<string>Ohornhookabove</string>
		<string>Rcommaaccent</string>
		<string>Rdblgrave</string>
		<string>Udblgrave</string>
		<string>Uhookabove</string>
		<string>Uhornhookabove</string>
		<string>Yhookabove</string>
		<string>abrevehookabove</string>
		<string>acircumflexhookabove</string>
		<string>acutecomb</string>
		<string>adblgrave</string>
		<string>ahookabove</string>
		<string>brevebelowcomb</string>
		<string>brevecomb</string>
		<string>brevecomb_acutecomb</string>
		<string>brevecomb_gravecomb</string>
		<string>brevecomb_hookabovecomb</string>
		<string>brevecomb_tildecomb</string>
		<string>breveinvertedcomb</string>
		<string>caroncomb</string>
		<string>cedillacomb</string>
		<string>circumflexcomb</string>
		<string>circumflexcomb_acutecomb</string>
		<string>circumflexcomb_gravecomb</string>
		<string>circumflexcomb_hookabovecomb</string>
		<string>circumflexcomb_tildecomb</string>
		<string>colonsign</string>
		<string>commaaccentcomb</string>
		<string>commaturnedabovecomb</string>
		<string>dblgravecomb</string>
		<string>dieresisbelowcomb</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>dotbelowcomb</string>
		<string>ecircumflexhookabove</string>
		<string>edblgrave</string>
		<string>ehookabove</string>
		<string>euro</string>
		<string>firsttonechinese</string>
		<string>gcommaaccent</string>
		<string>gravecomb</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>hookabovecomb</string>
		<string>horncomb</string>
		<string>hungarumlautcomb</string>
		<string>idblgrave</string>
		<string>idotaccent</string>
		<string>idotless</string>
		<string>ihookabove</string>
		<string>jdotless</string>
		<string>kcommaaccent</string>
		<string>lcommaaccent</string>
		<string>liraTurkish</string>
		<string>macronbelowcomb</string>
		<string>macroncomb</string>
		<string>micro</string>
		<string>ncommaaccent</string>
		<string>numero</string>
		<string>ocircumflexhookabove</string>
		<string>odblgrave</string>
		<string>odotaccentmacron</string>
		<string>ogonekcomb</string>
		<string>ohookabove</string>
		<string>ohornhookabove</string>
		<string>rcommaaccent</string>
		<string>rdblgrave</string>
		<string>ringcomb</string>
		<string>rupeeIndian</string>
		<string>schwa</string>
		<string>softhyphen</string>
		<string>strokeshortcomb</string>
		<string>tildecomb</string>
		<string>udblgrave</string>
		<string>uhookabove</string>
		<string>uhornhookabove</string>
		<string>yhookabove</string>
		<string>caroncomb.alt</string>
		<string>acutecomb.case</string>
		<string>brevebelowcomb.case</string>
		<string>brevecomb.case</string>
		<string>breveinvertedcomb.case</string>
		<string>caroncomb.case</string>
		<string>cedillacomb.case</string>
		<string>circumflexcomb.case</string>
		<string>commaaccentcomb.case</string>
		<string>commaturnedabovecomb.case</string>
		<string>dblgravecomb.case</string>
		<string>dieresisbelowcomb.case</string>
		<string>dieresiscomb.case</string>
		<string>dotaccentcomb.case</string>
		<string>dotbelowcomb.case</string>
		<string>gravecomb.case</string>
		<string>hookabovecomb.case</string>
		<string>horncomb.case</string>
		<string>hungarumlautcomb.case</string>
		<string>macronbelowcomb.case</string>
		<string>macroncomb.case</string>
		<string>ogonekcomb.case</string>
		<string>ringcomb.case</string>
		<string>tildecomb.case</string>
		<string>Ncommaaccent.salt</string>
		<string>abrevehookabove.salt</string>
		<string>acircumflexhookabove.salt</string>
		<string>adblgrave.salt</string>
		<string>ahookabove.salt</string>
		<string>gcommaaccent.salt</string>
		<string>ncommaaccent.salt</string>
		<string>rcommaaccent.salt</string>
		<string>rdblgrave.salt</string>
		<string>udblgrave.salt</string>
		<string>uhookabove.salt</string>
		<string>uhornhookabove.salt</string>
		<string>Ncommaaccent.salt.smcp</string>
		<string>Abrevehookabove.smcp</string>
		<string>Acircumflexhookabove.smcp</string>
		<string>Adblgrave.smcp</string>
		<string>Ahookabove.smcp</string>
		<string>Ecircumflexhookabove.smcp</string>
		<string>Edblgrave.smcp</string>
		<string>Ehookabove.smcp</string>
		<string>Gcommaaccent.smcp</string>
		<string>Idblgrave.smcp</string>
		<string>Ihookabove.smcp</string>
		<string>Kcommaaccent.smcp</string>
		<string>Lcommaaccent.smcp</string>
		<string>Ncommaaccent.smcp</string>
		<string>Ocircumflexhookabove.smcp</string>
		<string>Odblgrave.smcp</string>
		<string>Odotaccentmacron.smcp</string>
		<string>Ohookabove.smcp</string>
		<string>Ohornhookabove.smcp</string>
		<string>Rcommaaccent.smcp</string>
		<string>Rdblgrave.smcp</string>
		<string>Udblgrave.smcp</string>
		<string>Uhookabove.smcp</string>
		<string>Uhornhookabove.smcp</string>
		<string>Yhookabove.smcp</string>
		<string>colonsign.smcp</string>
		<string>euro.smcp</string>
		<string>liraTurkish.smcp</string>
		<string>rupeeIndian.smcp</string>
	</array>
</dict>
</plist>
