<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-87</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-85</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-17</integer>
		<key>@MMK_R_T</key>
		<integer>-77</integer>
		<key>@MMK_R_V</key>
		<integer>-57</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-17</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-87</integer>
		<key>@MMK_R_O</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-87</integer>
		<key>@MMK_R_O</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-88</integer>
		<key>@MMK_R_O</key>
		<integer>-42</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-42</integer>
	</dict>
</dict>
</plist>
